 <!-- Header -->
        <header id="header" class="header">
            <div class="container header-inner">

                <!-- Logo -->
                <div class="logo">
                    <%= link_to(root_path) do %>
                        <%= image_path("NOW_White", class: "logo-light", title: "NOW") %> 
                        <%= image_path("NOW_Black", class: "logo-dark", title: "NOW") %>
		            <% end %>
                </div>
                <!-- End Logo -->

                <!-- Navbar Navigation -->
                <div class="nav-menu">
                    <ul class="nav-menu-inner">
                        <li>
                            <%= link_to(root_path) do %>
                           		Home
                           	<% end %>
                            
                        </li>
                        <li>
							<%= link_to(portfolio_path, class: "menu-has-sub" ) do %>
                           		Portfolio
                           	<% end %>                            
                           	<!-- Dropdown -->
                            <ul class="sub-dropdown dropdown">
                                <li>
                                    <a class="menu-has-sub">About Us <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="about-1.html">About 1</a></li>
                                        <li><a href="about-2.html">About 2</a></li>
                                        <li><a href="about-3.html">About 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Service <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="service-1.html">Service 1</a></li>
                                        <li><a href="service-2.html">Service 2</a></li>
                                        <li><a href="service-3.html">Service 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Contact Us <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="contact-1.html">Contact 1</a></li>
                                        <li><a href="contact-2.html">Contact 2</a></li>
                                        <li><a href="contact-3.html">Contact 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Faq<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="faq-1.html">Faq 1</a></li>
                                        <li><a href="faq-2.html">Faq 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Login / Register<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="login-register.html">Login / Register</a></li>
                                    </ul>
                                </li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li>
                                    <a class="menu-has-sub">404 Error<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="404-error-1.html">404 page1</a></li>
                                        <li><a href="404-error-2.html">404 page2</a></li>
                                    </ul>
                                </li>
                                <li><a href="sidebar-left.html">Sidebar Left</a></li>
                                <li><a href="sidebar-right.html">Sidebar Right</a></li>
                                <li><a href="blank-page.html">Blank Page</a></li>
                            </ul>
                            <!-- End Dropdown -->
                        </li>
                        <li>
							<%= link_to(about_path) do %>
                           		About
                           	<% end %>                              
                        </li>
                        <li>
							<%= link_to(contact_path) do %>
                           		Contact
                           	<% end %>  
                        </li>
                       
                    </ul>
                </div>
                <!-- End Navbar Navigation -->

            </div>
        </header>
        <!-- End Header -->