
<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

<header role="banner" id="header" >

<!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

<a class="logo">
	
	<%= image_tag("movie-symbol-of-video-camera.png") %>
	
</a>

<!-- - - - - - - - - - - - - - End Logo - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - Main Navigation Container - - - - - - - - - - - - - - - - -->

<div id="vertical_menu_wrap" class="vm_wrap">

	<!-- - - - - - - - - - - - - - Main Navigation - - - - - - - - - - - - - - - - -->

	<nav>

		<ul class="navigation">

			<li class="has_submenu">

				<a> <%= link_to("Home", root_path ) %> </a>
				
			</li>

			<li class="has_submenu">

				<a> <%= link_to("Portfolio", portfolio_path ) %> </a>

			</li>

			<li class="has_submenu current">

				<a> <%= link_to("About", about_path ) %> </a>
				
			</li>

			<li class="has_submenu">

				<a> <%= link_to("Contact", contact_path ) %> </a>

			</li>

			
		</ul>

	</nav>

	<!-- - - - - - - - - - - - - - End of Main Navigation - - - - - - - - - - - - - - - - -->

</div><!--/ #vertical_menu_wrap -->

<!-- - - - - - - - - - - - - - End of Main Navigation Container - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Top Buttons - - - - - - - - - - - - - - - - -->

<div id="top_actions_wrap">

	<a href="portfolio_masonry_full_width.html" class="action_btn large dark">
		<span class="si-icon" data-width="28" data-height="28" data-event="mouseover" data-icon-name="portfolio">
			<%= render :partial => 'svg/portfolio' %></span>
	</a>

	<a href="portfolio_image_slideshow_post.html" class="action_btn large dark">
		<span class="si-icon" data-width="28" data-height="28" data-event="mouseover" data-icon-name="previous">
			<%= render :partial => 'svg/previous' %>
		</span>
	</a>

	<a href="portfolio_mixed_list_post.html" class="action_btn large dark">
		<span class="si-icon" data-width="28" data-height="28" data-event="mouseover" data-icon-name="next">
			<%= render :partial => 'svg/next' %>
		</span>
	</a>

	<!-- - - - - - - - - - - - - - Searchform - - - - - - - - - - - - - - - - -->

	<form role="search" class="nav_searchform">

		<input type="search" placeholder="Search..." name="">

		<button><span class="si-icon" data-width="24" data-height="24" data-event="mouseover" data-icon-name="search">
			<%= render :partial => 'svg/search' %>

		</span></button>

	</form>

	<!-- - - - - - - - - - - - - - End of Searchform - - - - - - - - - - - - - - - - -->

	<span id="toggle_menu" class="si-icon" data-width="36" data-height="36" data-event="click" data-icon-name="hamburgerCross">
		<%= render :partial => 'svg/hamburger' %>
	</span>

</div><!--/ #top_btns_wrap -->

<!-- - - - - - - - - - - - - - End of Top Buttons - - - - - - - - - - - - - - - - -->

</header>

<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->


<div id="top_actions_wrap">

	<!-- - - - - - - - - - - - - - Isotope Filter - - - - - - - - - - - - - - - - -->

	<div id="filter_wrap">

		<span id="filter_btn" class="si-icon toggle_box" data-width="28" data-height="28" data-event="click" data-icon-name="filter">
			<%= render :partial => 'svg/filter' %>
		</span>

		<ul id="filter" class="animation_box">

			<li data-filter="*">All</li>
			<li data-filter=".people">People</li>
			<li data-filter=".macro">Macro</li>
			<li data-filter=".travelling">Travelling</li>

		</ul>

	</div>

	<!-- - - - - - - - - - - - - - End of Isotope Filter - - - - - - - - - - - - - - - - -->
